packages:
  yum:
    libsndfile-devel: []

commands:
  00-wget:
    command: wget https://johnvansickle.com/ffmpeg/builds/ffmpeg-git-amd64-static.tar.xz
  01-mkdir:
    command: mkdir -p ffmpeg-static
  02-tar:
    command: tar xvf ffmpeg-git-amd64-static.tar.xz --directory ffmpeg-static --strip-components 1
  03-cp:
    command: cp ffmpeg-static/ffmpeg /usr/bin/
